/*This is for the logo*/
.leftSidebar {
  box-shadow: none !important;
  border-right: 1px solid rgb(var(--v-theme-borderColor));
}

.v-navigation-drawer--rail {
  .scrollnavbar .v-list .v-list-group__items,
  .hide-menu {
    opacity: 1;
  }

  .leftPadding {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 1170px) {
  .mini-sidebar {
    .logo {
      width: 40px;
      overflow: hidden;
      padding-left: 0;
    }

    .mini-icon {
      display: block;
    }

    .sidebarchip.hide-menu {
      opacity: 0;
    }

    .userbottom .hide-menu {
      opacity: 0;
    }

    .mini-text {
      display: none;
    }

    .v-list {
      padding: 14px !important;
    }

    .leftSidebar:hover {
      box-shadow: $box-shadow !important;

      .mini-icon {
        display: none;
      }

      .mini-text {
        display: block;
      }
    }

    .v-navigation-drawer--expand-on-hover:hover {
      .logo {
        width: 100%;
      }

      .v-list .v-list-group__items,
      .hide-menu {
        opacity: 1;
      }
      .sidebarchip.hide-menu {
        opacity: 1;
      }
      .userbottom .hide-menu {
        opacity: 1;
      }
    }
  }
}

// scrollbar
.ps__rail-y {
  z-index: 9;
}

.v-navigation-drawer {
  box-shadow: none !important;
  border-right: 1px solid rgb(var(--v-theme-borderColor)) !important;
}
